<%= javascript 'pages.js.coffee' %>

<h1>Listing pages</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created By</th>
      <th>Created At</th>
      <th>Last Updated At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  <% @pages.each do |page| %>
    <tr>
      <td><%= page.id %></td>
      <td><%= page.name %></td>
      <td><%= page.account.id %></td>
      <td><%= page.created_at %></td>
      <td><%= page.updated_at %></td>
      <td>
        <%= link_to 'Show', page.slug %>
        <%= link_to 'Edit', edit_page_path(page) %>
        <%= link_to 'Destroy', page, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>

  </tbody>
</table>

<br />

<%= link_to 'New Page', new_page_path %>
